@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk&display=swap');

body {
  margin: 0;
  font-family: Space Grotesk, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Righteous;
  font-size: 35px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {

}

.header-image-container img {
  max-width: 700px;
}