@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk&display=swap');

body {
  margin: 0;
  font-family: Space Grotesk, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LIGHT AND DARK THEME VARIABLES */

:root {
  --background: #edebeb;
  --headerimg: url(./assets/images/dayheader.png);
  --welcomeimg: url(./assets/images/lightwelcome.png);
  --black: #000000;
  --maincolor: #ffffff;
  --contrastcolor: #000000;
  --colorone: #ee438c;
  --colortwo: #ff7f17;
  --colorthree: #fff627;
}

[data-theme='dark'] {
  --background: #1f1e1e;
  --headerimg: url(./assets/images/nightheader.png);
  --welcomeimg: url(./assets/images/darkwelcome.png);
  --black: #000000;
  --maincolor: #000000;
  --contrastcolor: #ffffff;
  --colorone: #33d424;
  --colortwo: #9021b1;
  --colorthree: #14c4e5;
}


/* APP AND THEME STYLES */

.App {
  background-color: var(--background);
  padding: 5px;
}

.theme-btn {
  width: 180px;
  margin: auto;
  font-family: Righteous;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
  color: var(--contrastcolor);
  border-color: var(--contrastcolor);
  border-radius: 10px;
}


/* ICON STYLES */

svg {
  width: 1.5rem;
  padding: 5px;
}

svg.light-icon {
  color: #ff7f17;
}

svg.dark-icon {
  color: #9021b1;
}

svg.footer-icon {
  width: 3rem;
  color: var(--colortwo);
}

svg.footer-icon:hover {
  color: var(--colorthree);
}

svg.expand-icon {
  color: var(--contrastcolor);
}

svg.expand-icon:hover {
  color: var(--colorone);
}

svg.modal-close {
  color: var(--contrastcolor);
}

svg.modal-close:hover {
  color: var(--colorone);
}


/* BASIC FONT STYLES */

h1 {
  font-family: Righteous;
  font-size: 35px;
  color: var(--contrastcolor);
}

h2 {
  font-family: Righteous;
  font-size: 25px;
  color: var(--contrastcolor);
}

h3 {
  font-size: 20px;
  color: var(--colorone);
}

p {
  font-family: Space Grotesk;
  font-size: 16px;
  color: var(--contrastcolor);
  text-align: justify;
}


/* MAIN CONTAINER */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  margin: auto;
  background-color: var(--maincolor);
  width: 650px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* HEADER STYLES */

.header-image-container {
  display: block;
  background-image: var(--headerimg);
  width: 700px;
  height: 233px;
  margin: auto;
}

.nav-btn {
margin: 10px;
padding: 5px;
text-decoration: none;
font-size: 25px;
font-weight: 800;
background-color: var(--colorone);
color: var(--black);
border: solid;
border-width: 2px;
border-radius: 5px;
box-shadow: 5px 5px var(--colorthree);
}

.nav-bar {
  padding: 20px;
}

.nav-btn:hover {
  background-color: var(--colortwo);
}


/* FOOTER STYLES */

.footer-container {
  padding: 5px;
  margin: auto;
}

.footer-link {
  color: var(--colorone);
}

.footer-link:hover {
  color: var(--colortwo);
}


/* WELCOME STYLES */

.welcome-image-container {
  display: block;
  background-image: var(--welcomeimg);
  width: 250px;
  height: 250px;
  margin: auto;
}

.welcome-text-container {
  margin: auto;
  width: 500px;
}


/* ABOUT ME STYLES */

.about-me-container {
  display: flex;
}

.resume-text {
  text-align: center;
  font-size: 14px;
}

.headshot-container {
  flex: 1;
  padding: 10px;
}

.headshot-img {
  border-radius: 100px;
  border: 2px solid var(--black);
  box-shadow: 5px 5px var(--colorone);
}

.about-me-text {
  flex: 3;
  padding: 10px;
}

.about-skills-container {
  display: flex;
  justify-content: space-around;
}

.certification-container {
  flex: 2;
}

.certification-box {
  background-color: var(--colorthree);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.skills-container {
  flex: 2;
}

.skills-box {
  background-color: var(--colortwo);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.skills-text {
  text-align: center;
}


/* CONTACT STYLES */

.contact-text {
  text-align: center;
}

.contact-link {
  color: var(--colortwo);
}

.contact-link:hover {
  color: var(--colorone);
}

.form-container {
  width: 450px;
  margin: auto;
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 5px;
  margin: 10px;
  border: 2px solid var(--colorone);
  border-radius: 5px;
  box-shadow: 5px 5px var(--colorthree);
  font-family: Space Grotesk;
  font-size: 17px;
}

.form-btn {
  font-family: Righteous;
  font-size: 20px;
  border: 2px solid var(--black);
  border-radius: 5px;
background-color: var(--colorone);
}

.form-btn:hover {
  background-color: var(--colortwo);
}


/* PORTFOLIO STYLES */

.portfolio-nav {
  display: flex;
  justify-content: center;
}

.portfolio-nav-list {
  list-style: none;
  padding: 10px;
}

.portfolio-nav-btn {
  background-color: var(--colortwo);
  padding: 5px;
  border: 2px solid var(--black);
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 5px 5px var(--colorone);
}

.portfolio-nav-btn:hover {
  background-color: var(--colorthree);
}

.category-description {
  text-align: center;
}

.project-card {
  width: 550px;
  margin: auto;
  padding: 5px;
}

.project-info-container {
  display: flex;
}

.project-image-container {
  flex: 1;
}

.project-img {
  width: 220px;
  border: 2px solid var(--black);
  border-radius: 10px;
  box-shadow: 5px 5px var(--colorthree);
}

.project-img:hover {
  box-shadow: 5px 5px var(--colorone);
}

.project-text-container {
  flex: 3;
  padding: 5px;
}

.project-text {
  text-align: center;
}

.project-link {
  padding: 5px;
  margin: 5px;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  background-color: var(--colorone);
  border: 2px solid var(--black);
  border-radius: 5px;
  box-shadow: 5px 5px var(--colortwo);
}

.project-link:hover {
  background-color: var(--colorthree);
}

.expand-container {
  padding: 5px;
  margin-top: 10px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 950px;
  background-color: var(--maincolor);
  border-radius: 10px;
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  display: flex;
}

.modal-image-container {
  padding: 5px;
}

.modal-image {
width: 600px;
border: 2px solid var(--black);
box-shadow: 5px 5px var(--colortwo);
}

.modal-info-container {
  padding: 5px;
}

.category-header {
  color: var(--contrastcolor);
}

.category-span {
  color: var(--colortwo);
}

.modal-description {
  padding: 10px;
  border: 2px solid var(--black);
  box-shadow: 5px 5px var(--colorthree);
}


/* MOBILE RESPONSIVNESS START */
/* TABLET STYLES */
@media(max-width: 768px) {
  .modal-content {
    width: 750px;
  }

  .modal-image {
    width: 500px;
  }

  .category-header {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media(max-width: 750px) {
  .App {
    width: 100%;
    margin: 0;
  }

  .header-image-container {
  width: 500px;
  height: 150px;
  background-size: 500px 150px;
  }

  .modal-content {
    width: 500px;
  }

  .modal-image {
    width: 300px;
  }
}

@media(max-width: 685px) {
.main-container {
    width: 480px;
  }

  .nav-btn {
    font-size: 20px;
  }
  
  .welcome-text-container {
    width: 470px;
  }

  .project-card {
    width: 470px;
  }

  .modal-content {
    width: 480px;
  }

  .modal-body {
    flex-direction: column-reverse;
  }

  .modal-image {
    width: 430px;
  }

  .form-container {
    width: 400px;
  }
}

/* MOBILE RESPONSIVENESS */
@media(max-width: 515px) {
  .main-container {
    width: 450px;
  }

  .header-image-container {
    width: 440px;
    height: 150px;
    background-size: 440px 150px;
    }

  .nav-btn {
    font-size: 18px;
  }
  
  .welcome-text-container {
    width: 440px;
  }

  .about-me-container {
    flex-direction: column;
  }

  .about-skills-container {
    flex-direction: column;
  }

  .project-card {
    width: 440px;
  }

  .modal-content {
    width: 450px;
  }

  .modal-body {
    flex-direction: column-reverse;
  }

  .modal-image {
    width: 400px;
  }

  .form-container {
    width: 380px;
  }
}

@media(max-width: 485px) {
  .main-container {
    width: 425px;
  }

  .header-image-container {
    width: 425px;
    height: 150px;
    background-size: 425px 150px;
    }

  .nav-btn {
    font-size: 15px;
  }
  
  .welcome-text-container {
    width: 415px;
  }

  .project-card {
    width: 415px;
  }

  .project-info-container {
    flex-direction: column;
  }

  .modal-content {
    width: 440px;
  }

  .form-container {
    width: 350px;
  }
}