@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk&display=swap');

body {
  margin: 0;
  font-family: Space Grotesk, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #edebeb;
  --headerimg: url(./assets/images/dayheader.png);
  --welcomeimg: url(./assets/images/lightwelcome.png);
  --black: #000000;
  --maincolor: #ffffff;
  --contrastcolor: #000000;
  --colorone: #ee438c;
  --colortwo: #ff7f17;
  --colorthree: #fff627;
}

[data-theme='dark'] {
  --background: #1f1e1e;
  --headerimg: url(./assets/images/nightheader.png);
  --welcomeimg: url(./assets/images/darkwelcome.png);
  --black: #000000;
  --maincolor: #000000;
  --contrastcolor: #ffffff;
  --colorone: #33d424;
  --colortwo: #9021b1;
  --colorthree: #14c4e5;
}

.App {
  background-color: var(--background);
  padding: 5px;
}

.theme-btn {
  width: 180px;
  margin: auto;
  font-family: Righteous;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
  color: var(--contrastcolor);
  border-color: var(--contrastcolor);
  border-radius: 10px;
}

svg {
  width: 1.5rem;
  padding: 5px;
}

svg.light-icon {
  color: #ff7f17;
}

svg.dark-icon {
  color: #9021b1;
}

svg.footer-icon {
  width: 3rem;
  color: var(--colortwo);
}

svg.footer-icon:hover {
  color: var(--colorthree);
}

h1 {
  font-family: Righteous;
  font-size: 35px;
  color: var(--contrastcolor);
}

h2 {
  font-family: Righteous;
  font-size: 20px;
  color: var(--contrastcolor);
}

p {
  font-family: Space Grotesk;
  font-size: 16px;
  color: var(--contrastcolor);
  text-align: justify;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-image-container {
  display: block;
  background-image: var(--headerimg);
  width: 700px;
  height: 233px;
  margin: auto;
}

.nav-btn {
margin: 10px;
padding: 5px;
text-decoration: none;
font-size: 25px;
font-weight: 800;
background-color: var(--colorone);
color: var(--black);
border: solid;
border-width: 2px;
border-radius: 5px;
}

.nav-bar {
  padding: 20px;
}

.nav-btn:hover {
  background-color: var(--colortwo);
}

.main-container {
  margin: auto;
  background-color: var(--maincolor);
  width: 650px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-container {
  padding: 5px;
  margin: auto;
}

.footer-link {
  color: var(--colorone);
}

.footer-link:hover {
  color: var(--colortwo);
}

.welcome-image-container {
  display: block;
  background-image: var(--welcomeimg);
  width: 250px;
  height: 250px;
  margin: auto;
}

.welcome-text-container {
  margin: auto;
  width: 500px;
}